{{#if resume.gallery }}
    {{!-- <div style="height: 4rem"></div> --}}
    {{#each resume.gallery}}
    <figure>
        <img src="{{ image }}">
        <figcaption>{{ label }}</figcaption>
    </figure>
    {{/each}}
{{/if}}